; module line format:
; module,description,parameter,pre_install,post_install,initrd,auto
;
; Notes:
;   (1)  descriptions starting with '-' are dropped
;   (2)  lines with descriptions starting with '--' are dropped (but the
;        modules are added to the section)
;   (3)  a parameter starting with '-' indicates that linuxrc should never
;        prompt the user for module params, even in manual mode; instead, this
;        param (without the '-' is used)
;   (4)  modules starting with '-' are not added, but the config entry is kept
;   (5)  module dependencies are added to pre_install automatically
;   (6)  don't assign a module to more than one section (with the exception of
;        'cd1' and 'autoload')
;   (7)  you can have modules in section 'autoload' _and_ in another section;
;        it will be auomatically loaded and be available via menu in linuxrc,
;        too in this case
;   (8)  section 'cd1' holds the list of modules that are put on CD1; they
;        are loaded by yast, if necessary and don't need any special config
;        line
;   (9)  A section, MoreModules and ModuleClass may have "@label" in it.
;        Both are removed in the final config. This can be used to split a
;        section into several parts.
;  (10)  ModDisk=n,m means: it goes to disk n but linuxrc will ask for disk m.
;
; (1) is mostly a comment; (2) + (4) are useful for af_packet.o (it will be
; automatically loaded after the network modules disk has been read); (3) is
; useful e.g. for modules that don't accept parameters.


[other]
8390,,-,,,,1
isa-pnp,,isapnp_reset=0,,,,1
parport
parport_pc
ide-scsi,-,-,,,1
i2c-core,-,-
i2c-algo-bit,-,-
qsort,-,-
zlib_deflate,-,-
libata,,-

[autoload]
nvram,"-CMOS/NV-RAM driver",-
-af_packet,"-Raw Packet Sockets",-
fat,"-low-level FAT-based fs support",-
vfat,VFAT,-
cramfs,CRAMFS,-
cdrom,"-Uniform CD-ROM driver interface",-,,,1
scsi_mod,"Generic Mid-Level SCSI Driver"
sd_mod,"SCSI Disk Driver"
sr_mod,"SCSI CD-ROM driver",-,,,1
-sg,"-Generic SCSI interface",-
ide-cd,"ATAPI CD-ROM driver",,,,1


[IDE/RAID/SCSI]
MoreModules=scsi-modules
ModDisk=2,5

3w-xxxx,"3ware ATA RAID",,,,1
atp870u,"ACARD AEC-671X",,,,1,0
aha152x,"Adaptec 1505/151x/152x/2825","aha152x=0x340,11,7,0,0,0,100,0",,,1
aha1542,"Adaptec 154x",,,,1
aha1740,"Adaptec 1740",,,,1
aic7xxx,"Adaptec 274x/284x/294x",,,,1
aic79xx,"Adaptec aic790x Ultra320 SCSI adapter",,,,1
aic7xxx_old,"Adaptec 274x/284x/294x (old driver)",,,,1,0
aacraid,"Adaptec RAID",,,,1
advansys,"AdvanSys","asc_iopflag=1 asc_ioport=0x110",,,1,0
in2000,"Always IN 2000",,,,1,0
AM53C974,"AM53/79C974",,,,1
BusLogic,"BusLogic",,,,1
cciss,"Compaq CISS Array",,,,1
cpqfc,"Compaq Fibre Channel 64-bit/66Mhz",,,,1
cpqarray,"Compaq SMART2 RAID",,,,1
dmx3191d,"Domex DMX3191D SCSI",,,,1
dpt_i2o,"DPT I2O SmartRAID V",,,,1
dtc,"DTC 3180/3280",,,,1
eata,"EATA (E)ISA (PM2011/021/012 etc)",,,,1
eata_dma,"EATA-DMA (DPT, NEC, AT&T, SNI etc)",,,,1,0
eata_pio,"EATA-PIO (old DPT PM2001, PM2012A)",,,,1,0
lpfcdd,"Emulex Fibre Channel Host Adapter",,,,1
fdomain,"Future Domain 16xx",,,,1
g_NCR5380,"Generic NCR5380/53c400",,,,1,0
hptraid,"Highpoint 370 software RAID",,ataraid,,1
ibmsis,"IBM iSeries ibmsis SCSI",,,,1
ips,"IBM ServeRAID",,,,1
ips_old,"IBM ServeRAID (old driver)",,,,1
gdth,"ICP Vortex GDTH Disk Array",,,,1
initio,"Initio INI-9X00U/UW",,,,1
a100u2w,"Initio INI-A100U2W",,,,1
ata_piix,"Intel PIIX/ICH ATA controller",,,,1
i2o_block,"Intelligent I/O Block",,i2o_pci i2o_core i2o_config,,1,0
i2o_scsi,"Intelligent I/O SCSI",,i2o_pci i2o_core i2o_config,,1,0
imm,"IOMEGA Parallel Port new driver",,parport parport_pc,,1
ppa,"IOMEGA Parallel Port ZIP drive","ppa_base=0x378",parport parport_pc,,1,0
megaraid2,"LSI Logic MegaRAID",,,,1
megaraid,"LSI Logic MegaRAID (old driver)",,,,1
mptscsih,"LSIFC9xx/LSI409xx Fibre Channel",,mptbase,,1,0
mac53c94,"mac53c94 SCSI driver, old PowerMacs",,,,,0
mesh,"MESH SCSI driver, old PowerMacs",,,,,0
DAC960,"Mylex DAC-960/DAC1100",,,,1

ide-scsi,"SCSI emulation for IDE ATAPI devices",-,,,1
ide-floppy,"ATAPI floppy driver",,,,,0
i2o_pci,,,,,,0
i2o_core,,,,,,0
i2o_config,,,,,,0
ataraid
mptbase
sg,--


[IDE/RAID/SCSI@2]
ModuleClass=scsi@2
MoreModules=scsi@2-modules
ModDisk=5,2

ncr53c8xx,"NCR 53c8xx",,,,1
NCR53c406a,"NCR53c406a",,,,1
"53c7,8xx","NCR 53c7,8xx (old driver)",,,,1
nsp32,"NinjaSCSI-32Bi/UDE PCI/CardBus host bus adapter",,,,1
adma100,"Pacific Digital ADMA-100"
pci2000,"PCI-2000",,,,1
pci2220i,"PCI-2220I/2240I",,,,1
pas16,"Pro Audio Spectrum SCSI",,,,1
pdcraid,"Promise Fasttrak software RAID",,ataraid,,1
pdc-ultra,"Promise SATA150 Series Driver",,,,1
psi240i,"PSI-240i",,,,1
qlogicpti,"PTI Qlogic ISP Driver",,,,1
qlogicfas,"QLogic FAS",,,,1
qlogicisp,"QLogic ISP 1020",,,,1
qlogicfc,"QLogic ISP 2100 SCSI-FCP",,,,1
qla2100,"QLogic ISP 2100",,,,1
qla2200,"QLogic ISP 2200",,,,1
qla2300,"QLogic ISP 2300",,,,1
qla1280,"QLogic QLA1280/QLA12160",,,,1
seagate,"Seagate ST-02/Fut. Domain TMC-8xx",,,,1
silraid,"Silicon Image software RAID",,ataraid,,1
sim710,"Simple 53c710 (Compaq, NCR)",,,,1
sym53c416,"Symbios 53C416",,,,1
sym53c8xx,"Symbios 53c8xx",,,,1
sym53c8xx-old,"Symbios 53c8xx (old driver)",,,,1
tmscsim,"Tekram DC390(T) (AM53C974 chip)",,,,1
dc395x_trm,"Tekram DC395U/UW/F, DC315/U",,,,1
t128,"Trantor T128/T128F/T228",,,,1
ultrastor,"UltraStor (alternate driver)",,,,1
u14-34f,"UltraStor 14F/34F",,,,1
ata_via,"VIA SATA controller",,,,1
wd7000,"Western Digital 7000 FASST",,,,1,0


[CD-ROM]
MoreModules=cdrom-modules
ModDisk=4

pcd,,"drive0=0x378"
paride

aten,"ATEN EH-100 parallel port",,parport parport_pc paride,pcd,,0
aztcd,"Aztech/Orchid/Okano/Wearnes/TXC","aztcd=0x320",,,,0
dstr,"DataStor EP2000 parallel port",,parport parport_pc paride,pcd,,0
comm,"DataStor (old) parallel port",,parport parport_pc paride,pcd,,0
fit2,"FIT TD-2000 parallel port",,parport parport_pc paride,pcd,,0
fit3,"FIT TD-3000 parallel port",,parport parport_pc paride,pcd,,0
friq,"Freecom Power IQ (vers. 2)",,parport parport_pc paride,pcd,,0
frpw,"Freecom Power parallel port",,parport parport_pc paride,pcd,,0
gscd,"Goldstar R420","gscd=0x340"
isp16,"ISP16/MAD16/Mozart","isp16_cdrom_base=0x340 isp16_cdrom_irq=0 isp16_cdrom_dma=0 isp16_cdrom_type=Sanyo"
kbic,"KBIC-951A/971A parallel port",,parport parport_pc paride,pcd,,0
ktti,"KT Technology parallel port",,parport parport_pc paride,pcd,,0
bpck,"MicroSolutions parallel port",,parport parport_pc paride,pcd,,0
mcdx,"Mitsumi (XA/MultiSession)","mcdx=0x300,10"
mcd,"Mitsumi (standard)","mcd=0x300,10"
on20,"OnSpec 90c20 parallel port",,parport parport_pc paride,pcd,,0
on26,"OnSpec 90c26 parallel port",,parport parport_pc paride,pcd,,0
optcd,"Optics Storage DOLPHIN 8000AT","optcd=0x340"
cm206,"Philips/LMS CM206","cm206=0x340,11"
sbpcd,"SBPCD (Matsushita/Panasonic etc.)","sbpcd=0x230,1",,,,0
sjcd,"Sanyo CDR-H94A","sjcd_base=0x340"
epat,"Shuttle EPAT parallel port",,parport parport_pc paride,pcd,,0
epia,"Shuttle EPIA parallel port",,parport parport_pc paride,pcd,,0
cdu31a,"Sony CDU31A/CDU33A","cdu31a_port=0x340 cdu31a_irq=0",,,,0
sonycd535,"Sony CDU535","sonycd535=0x340"


[network]
MoreModules=net-modules
ModDisk=3

3c359,"3Com 3c359 Tokenlink Velocity XL"
3c501,"3Com 3c501","io=0x280",,,,0
3c503,"3Com 3c503","io=0x280",,8390
3c505,"3Com 3c505","io=0x300"
3c507,"3Com 3c507","io=0x300"
3c509,"3Com 3c509/3c579"
3c515,"3Com 3c515"
3c59x,"3Com 3c59x/3c90x (592/595/597)"
3c90x,"3Com 3c90x/3c980 B/C series"
typhoon,"3Com 3CR990 Gigabit Ethernet"
starfire,"Adaptec Starfire"
acenic,"Alteon AceNIC/3C985/NetGear GA620"
lance,"AMD LANCE and PCnet (AT1500/NE2100)"
pcnet32,"AMD PCI PCnet32 (PCI bus NE2100)"
pcnet32-old,"AMD PCI PCnet32 (old driver)"
amd-8111,"AMD-8111 based 10/100 Ethernet"
amd8111e,"AMD8111 based 10/100 Ethernet"
ac3200,"Ansel Communications EISA 3200","io=0x300 irq=10 mem=0xd0000",8390,,,0
bmac,"Apple bmac (PowerMacs with Mach64)"
gmac,"Apple gmac (PowerMacs with Rage128)"
mace,"Apple mace (old PowerMacs)"
apricot,"Apricot Xen-II on board ethernet","io=0x300"
arcnet,"ARCnet","io=0x300"
atp,"AT-LAN-TEC/RealTek pocket adaptor"
at1700,"AT1700","io=0x260"
bcm4400,"Broadcom BCM4400"
bcm5700,"Broadcom BCM5700"
tg3,"Broadcom Tigon3 Ethernet"
e2100,"Cabletron E21xx","io=0x300",8390,,,0
tlan,"Compaq Netelligent 10/100/NetFlex 3",,,,,0
rl100a,"Compex RL-100ATX"
cs89x0,"CS89x0"
de600,"D-Link DE600 pocket adaptor",,,,,0
de620,"D-Link DE620 pocket adaptor","io=0x378 irq=7 bnc=1",,,,0
dl2k,"D-Link DL2000 Gigabit Ethernet"
de4x5,"DE425, DE434, DE435, DE450, DE500"
tulip,"DEC Tulip (DC21x4x) PCI"
old_tulip,"DEC Tulip (DC21x4x) (old driver)"
depca,"DEPCA,DE10x,DE200,DE201,DE202,DE422","io=0x200"
dgrs,"Digi Intl. RightSwitch SE-X"
dmfe,"DM9102 PCI Fast Ethernet",,,,,0 
rrunner,"Essential RoadRunner HIPPI"
ewrk3,"EtherWORKS 3 (DE203, DE204, DE205)","io=0x300"
fmv18x,"FMV-181/182/183/184","io=0x220"
hp100,"HP 10/100VG PCLAN (ISA, EISA, PCI)","hp100_port=0x380"
hp,"HP PCLAN (27245 / 27xxx)","io=0x300",8390
hp-plus,"HP PCLAN+ (27247B and 27252A)","io=0x300",8390
82596,"i82596 Ethernet Driver"
lanstreamer,"IBM Auto LANStreamer PCI Adapter"
olympic,"IBM Olympic chipset PCI Token Ring"
ibmtr,"IBM Tropic chipset token ring","io=0xa20"
eth16i,"ICL EtherTeam 16i/32","io=0x2a0"
eexpress,"Intel EtherExpress 16","io=0x300"
eepro100,"Intel EtherExpress Pro 100",,,,,0
eepro100-old,"Intel EtherExpress Pro 100 (old)"
eepro,"Intel EtherExpressPro","io=0x260",,,,0
e100,"Intel PRO/100 / EtherExpr. PRO/100"
e1000,"Intel PRO/1000"
iph5526,"Interphase 5526 PCI Fibre Channel"
abyss,"Madge Smart 16/4 PCI Mk2 Token Ring"
mtok,"Madge Token Ring"
lne390,"Mylex EISA LNE390A/B",,8390
myri_sbus,"MyriCOM Gigabit Ethernet"
fealnx,"Myson MTD-8xx PCI Ethernet"
ns83820,"National Semiconductor DP83820"
natsemi,"NatSemi DP8381x Ethernet"
ne2k-pci,"NE 2000 (PCI)",,8390
ne,"NE 2000 / NE 1000 (ISA)","io=0x300",8390
ga622,"NETGEAR GA622T Gigabit UTP Adapter"
ni5010,"NI5010"
ni52,"NI5210","io=0x360 irq=9 memstart=0xd0000 memend=0xd4000"
ni65,"ni6510 (am7990 \"lance\" chip)","io=0x360 irq=9 dma=0"
ne3210,"Novell/Eagle/Microdyne NE3210 EISA",,8390
hamachi,"Packet Engines GNIC-II (Hamachi)"
yellowfin,"Packet Engines Yellowfin Gigabit"
lp486e,"Panther i82596 Ethernet"
plip,"PLIP (IP via parallel port)",,parport parport_pc,,,0
es3210,"Racal-Interlan EISA ES3210",,8390
rtl8139,"RealTek RTL8129/8139"
8139cp,"RealTek RTL8139 C+"
8139too,"RealTek RTL8139"
r8169,"RealTek RTL8169 Gigabit Ethernet"
sis900,"SiS 900 PCI Fast Ethernet"
epic100,"SMC 83c170 EPIC/100"
smc9194,"SMC 9194","io=0x200"
smctr,"SMC Token Ring Adapter"
smc-ultra,"SMC Ultra","io=0x200",8390
smc-ultra32,"SMC Ultra32",,8390
sunbmac,"Sun BigMAC 10/100baseT"
sungem,"Sun GEM"
sunhme,"Sun Happy Meal 10/100baseT"
sunqe,"Sun QuadEthernet"
sundance,"Sundance ST201 \"Alta\" Ethernet"
skfp,"SysKonnect FDDI (SK-55xx/SK-58xx)"
sk98lin,"SysKonnect SK-98xx Gigabit Ethernet"
sk9dlin,"SysKonnect SK-9Dxx Gigabit Ethernet"
sktr,"SysKonnect Token Ring"
tmsisa,"TMS380-based ISA Token Ring",,tms380tr,,,0
tmspci,"TMS380-based PCI Token Ring",,tms380tr,,,0
tc35815,"Toshiba TC35815CF 10/100Mbps Ethernet"
via-rhine,"VIA VT86c100A Rhine-II"
wd,"Western Digital WD80x3"
winbond-840,"Winbond W89c840 Ethernet"
mii,"-MII interface library",-,,,,1
tms380tr,"-Network Driver Library for TMS380-based Token Ring Adapters"
pci-scan,"-Network adapter support code",-
sungem_phy,-,-,,,,1
af_packet,--

[PCMCIA]
; pcmcia modules are treated specially (card manager)
MoreModules=pcmcia-modules
ModDisk=4

pcmcia_core,PCMCIA Core Module
i82092,"I82092AA PCI-PCMCIA bridge"
i82365,Intel 82365 PC Card Controller,,pcmcia_core,ds
yenta_socket,Intel 82365 PC Card Controller,,pcmcia_core,ds
tcic,Databook TCIC-2 PCMCIA Controller,,pcmcia_core,ds
ds,PC Card Driver Services
cb_enabler,"CardBus Device Enabler"
dummy_cs
3c574_cs,"3Com 3c574 \"RoadRunner\" Ethernet PCMCIA Card"
3c575_cb,"3Com EtherLink PCI III/XL CardBus Card"
3c589_cs,"3Com 3c589 Ethernet PCMCIA Card"
aha152x_cs,"Adaptec AHA152X SCSI PCMCIA Card"
apa1480_cb,"Adaptec APA1480 SCSI CardBus Card"
axnet_cs,"Asix AX88190-based Ethernet PCMCIA Card"
eepro100_cb,"Intel EtherExpress Pro100 CardBus Card"
epic_cb,"SMC 83c170 EPIC/100 Fast Ethernet PCMCIA Card"
fdomain_cs,"Future Domain PCMCIA SCSI Card"
fmvj18x_cs,"fmvj18x Ethernet PCMCIA Card"
ftl_cs,"Flash Memory Card "
ibmtr_cs,"IBM Token Ring PCMCIA Card"
ide-cs,"IDE/ATA Disk PCMCIA Card"
nmclan_cs,"New Media Ethernet PCMCIA Card"
pcilynx_cb,"NT FireWire 2 Go Host Adapter CardBus Card"
pcnet_cs,"NS8390-based Ethernet PCMCIA Card"
qlogic_cs,"Qlogic SCSI PCMCIA Card"
smc91c92_cs,"SMC91c92-based Ethernet PCMCIA Card"
sym53c500_cs,"SYM53C500 SCSI PCMCIA Card"
tulip_cb,"DEC 21040-family Ethernet CardBus Card"
xirc2ps_cs,"Xircom Ethernet PCMCIA Card"
xircom_cb,"Xircom Ethernet CardBus Card"
xircom_tulip_cb,"Xircom Ethernet CardBus Card (old driver)"
nsp_cs,"NinjaSCSI-3 / NinjaSCSI-32Bi PCMCIA Card"
af_packet,--


[USB]
ModuleClass=usb
MoreModules=initrd
ModDisk=1

usbcore,"-USB Core"
usb-uhci,UHCI Host Controller Driver,,usbcore,input hid keybdev
uhci,Alternative UHCI Host Controller Driver,,usbcore,input hid keybdev
usb-ohci,OHCI Host Controller Driver,,usbcore,input hid keybdev
ehci-hcd,EHCI Host Controller Driver,,usbcore,input hid keybdev
input
hid
keybdev
usb-storage,"USB Mass Storage Device Driver"
pegasus,"Pegasus/Pegasus II based USB-Ethernet"
sg,--


[FireWire]
ModuleClass=firewire
MoreModules=initrd
ModDisk=1

ieee1394,"-IEEE 1394 Core"
ohci1394,"OHCI 1394 Controller Driver",,ieee1394,sbp2
pcilynx,"Texas Instruments PCILynx Driver",,ieee1394,sbp2
sbp2,"SBP-2 Support"
sg,--


[file system]
MoreModules=fs-modules
ModDisk=4

ext3,Ext3,-
jbd,,-,,,,1
jfs,JFS,-
reiserfs,ReiserFS,-
smbfs,SMB,-
vfat,VFAT,-
cramfs,CRAMFS,-
xfs,XFS,-
xfs_support,,-
xfs_dmapi,,-
ntfs,NTFS (read only),-


; things needed for md/x11/usb
[extra]
agpgart
linear
loop_fish2
lp
lvm-mod
md
mousedev
multipath,"-MULTIPATH management functions"
raid0
raid1
raid5
xor
dm-mod,"Device Mapper"
dm-bbr
dm-io
dm-mirror
dm-sparse


; for CD1/DVD
[cd1]
3w-xxxx
53c7,8xx
AM53C974
BusLogic
DAC960
a100u2w
advansys
agpgart
aic79xx
aic7xxx
atp870u
cciss
cpqarray
dc395x_trm
dmx3191d
dm-mod
dm-bbr
dm-io
dm-mirror
dm-sparse
dpt_i2o
eata
ext3
fdomain
gdth
hid
hpfs
ide-scsi
ieee1394
imm
initio
input
ips
ips_old
isa-pnp
jbd
jfs
keybdev
linear
loop_fish2
lp
lpfcdd
lpfndd
lvm-mod
md
megaraid
megaraid2
mousedev
mptbase
mptscsih
multipath
ncr53c8xx
ohci1394
parport
parport_pc
pci2000
pci2220i
pcilynx
ppa
qla1280
qla2100
qla2200
qla2300
qlogicfc
qlogicisp
raid0
raid1
raid5
reiserfs
ntfs
sbp2
sg
sym53c8xx
tmscsim
usb-ohci
usb-storage
usb-uhci
usbcore
xfs
xfs_dmapi
xfs_support
xor
pdcraid
hptraid
silraid
ataraid
pdc-ultra
ata_piix
ata_via
libata


; modules we do _not_ need
[notuseful]
nbd,"Network Block Device"
xd,"XT Hard Disk Controller (DTC 5150X)"
evdev,"Event char devices, giving access to raw input device events"
joydev,"Joystick device driver for the input driver suite"
; cf. ide_cs
ide_cs,"PCMCIA IDE/ATA disk cards"
ide-tape,"IDE ATAPI streaming tape driver"
bpck6,"low-level protocol driver for the Micro Solutions \"BACKPACK\" parport IDE adapter"
pd,"high-level driver for parallel port IDE hard drives"
pf,"high-level driver for parallel port ATAPI disk drives"
pg,"paride: character device interface for sending ATAPI commands"
pt,"high-level driver for parallel port ATAPI tape drives"
raw1394,"Raw IEEE 1394 I/O support"
video1394,"OHCI-1394 Video support"
isense,"Fusion MPT: provide english readable strings in SCSI Error Report logging"
mptctl,"Fusion MPT misc device (ioctl) driver"
mptlan,"IP Over Fibre Channel device driver"
i2o_lan,"I2O LAN CLASS OSM"
i2o_proc,"procfs handler for Linux I2O subsystem"
parport_serial,"support for multi-IO PCI cards that have parallel and serial ports"
scsi_debug,"Simulate a host adapter with 2 disks attached"
st,"SCSI Tape Driver"
osst,"OnStream SC-x0 SCSI tape support"
epsa2,"Shuttle Technologies EPSA2 ppSCSI Adapter"
epst,"Shuttle Technologies EPST ppSCSI Adapter"
onscsi,"OnSpec 90c26 ppSCSI Adapter"
ppscsi,"Common code for parport SCSI adapters"
sparcsi,"WBS-11A ppSCSI Adapter"
t348,"Trantor T348 ppSCSI Adapter"
t358,"Trantor T358 ppSCSI Adapter"
vpi0,"ppSCSI protocol module for the Iomega VPI0 adapter"
vpi2,"ppSCSI protocol module for the Iomega VPI2 adapter"
arlan,"Aironet Arlan 655 & IC2200 DS"
arlan-proc,"proc things for Aironet Arlan 655 card"
bonding,"Ethernet Bonding driver"
ppp_generic,"Generic PPP layer"
slhc,"compress and uncompress tcp packets"
bsd_comp,"BSD compression code (PPP)"
defxx,"Digital DEFEA and DEFPA adapter (FDDI)"
dummy,"Dummy network driver"
eql,"Equalizer Load-balancer for serial network interfaces"
ethertap,"Ethertap network tap"
netconsole,"output kernel messages to the network"
ppp_async,"PPP async serial channel driver"
ppp_deflate,"interface the zlib procedures for Deflate compression"
ppp_mppe,"MPPE \"compressor/decompressor\" module"
ppp_synctty,"PPP synchronous tty channel driver"
pppoe,"Linux PPP over Ethernet"
pppox,"Linux PPP over X/Ethernet"
rcpci,"Red Creek Hardware VPN"
sb1000,"General Instruments SB1000 driver"
shaper,"Simple traffic shaper for Linux NET3"
slip,"SLIP protocol for kernel-based devices like TTY"
strip,"Starmode Radio IP (STRIP) for kernel-based devices like TTY"
tun,"Universal TUN/TAP device driver"
wavelan,"WaveLAN ISA driver"
airo,"Aironet driver for 4500 and 4800 series cards"
airo_cs,"Aironet driver for 4500 and 4800 series cards"
hermes,"\"Hermes\" wireless MAC controller"
iflash2+_mtd,"Intel Series 2+ Flash devices"
iflash2_mtd,"Intel Series 2 and Series 100 Flash devices"
memory_cb,"memory interface driver for CardBus cards"
memory_cs,"general driver for accessing PCMCIA card memory via Bulk Memory Services"
netwave_cs,"Netwave AirSurfer Wireless LAN PC Card driver"
orinoco,"\"Hermes\" chipset based PCMCIA wireless adaptors"
orinoco_cs,"\"Hermes\" chipset based PCMCIA wireless adaptors"
parport_cs,"PCMCIA parallel port adapters"
ray_cs,"Raylink wireless LAN card"
serial_cb,"CardBus serial devices"
serial_cs,"PCMCIA serial devices"
sram_mtd,"MTD for accessing static RAM"
ss5136dn_cs,"S.S Technologies 5136-DN-PCM PCMCIA CAN-Network interface card"
wavelan_cs,"Wavelan Pcmcia driver"
wvlan_cs,"WaveLAN/IEEE PCMCIA Linux network device driver"
drbd,"distributed replicated block device"
eth1394
dv1394
amdtp,"Audio and Music Data Transmission Protocol Driver (IEEE1394)"
cmp,"Connection Management Procedures (IEEE1394)"
umem,"Micro Memory PCI Memory Module"
ch,"SCSI Media Changer device driver"
i2c-core
i2c-algo-bit
pcifvnet,"some atm driver"
qla2100-60500
qla2100-60650
qla2200-60500
qla2200-60650
qla2300-60500
qla2300-60650
