; module line format:
; module,description,parameter,pre_install,post_install,initrd,auto
;
; Notes:
;   (1)  descriptions starting with '-' are dropped
;   (2)  lines with descriptions starting with '--' are dropped (but the
;        modules are added to the section)
;   (3)  a parameter starting with '-' indicates that linuxrc should never
;        prompt the user for module params, even in manual mode; instead, this
;        param (without the '-' is used)
;   (4)  modules starting with '-' are not added, but the config entry is kept
;   (5)  module dependencies are added to pre_install automatically
;   (6)  don't assign a module to more than one section (with the exception of
;        'cd1' and 'autoload')
;   (7)  you can have modules in section 'autoload' _and_ in another section;
;        it will be auomatically loaded and be available via menu in linuxrc,
;        too in this case
;   (8)  section 'cd1' holds the list of modules that are put on CD1; they
;        are loaded by yast, if necessary and don't need any special config
;        line
;   (9)  A section, MoreModules and ModuleClass may have "@label" in it.
;        Both are removed in the final config. This can be used to split a
;        section into several parts.
;  (10)  ModDisk=n,m means: it goes to disk n but linuxrc will ask for disk m.
;  (11)  Module names containing a '/' are treated as perl regexp matching the module
;        name (full path). A config entry is written for every matching module.
;  (12)  If a module has more than one config entry in a section, the first entry
;        is used.
;        
;
; (1) is mostly a comment; (2) + (4) are useful for af_packet.o (it will be
; automatically loaded after the network modules disk has been read); (3) is
; useful e.g. for modules that don't accept parameters.


; some extra modules that are not manually loadable in linuxrc
[other]
8390,,-,,,,1
8390p,,-,,,,1
ab3100-core,-,-
aead,-,-
agpgart,-,-
ali-agp,-,-
amd-k7-agp,-,-
amd64-agp,-,-
appletouch,"Apple PowerBook Touchpad",-
ati-agp,-,-
binfmt_misc
blkcipher,-,-
bonding,"Ethernet Bonding driver"
chainiv,-,-
configfs,-,-
cpu_debug,-,-
crc-t10dif,-,-
crypto_algapi,-,-
crypto_blkcipher,-,-
crypto_hash,-,-
crypto_wq,-,-
cryptoloop
cryptomgr,-,-
efficeon-agp,-,-
eseqiv,-,-
fscache,-,-
hp-agp,-,-
hpfs
hwmon,-,-
i460-agp,-,-
ide-scsi,-,-,,,1
input-polldev,,-
hyperv-keyboard,,-
intel-agp,-,-
iscsi_boot_sysfs
kernel/drivers/mfd/.*,,-
kernel/drivers/rtc/.*,,-
krng,-,-
libata,,-
libfc
lockd,-,-
loop_fish2
lp
lvm-mod
mc13783-core
ncpfs
netconsole,Console driver for network interfaces
nfs_acl,-,-
nvidia-agp,-,-
nlmon
parport
parport_pc
pcf50633-core,-,-
pci_hotplug
pcompress,-,-
rbd,-,-
rng,-,-
scsi_dh,-,-
scsi_dh_alua,-,-
scsi_dh_emc,-,-
scsi_dh_hp_sw,-,-
scsi_dh_rdac,-,-
scsi_transport_fc
scsi_transport_sas
scsi_transport_spi
scsi_transport_srp
sgi-agp,-,-
sis-agp,-,-
snd
soundcore
sparse-keymap
ssb
st,-SCSI Tape Driver,-
sunrpc,-,-
sworks-agp,-,-
thermal_sys,-,-
uio,-,-
uninorth-agp,-,-
usb-common,-,-
usbserial,-,-
usb-otg-fsm,-,-
vboxguest,-,-
vboxvideo,-,-
vboxsf,-,-
via-agp,-,-
wm8350,-,-
xen-balloon,-,-
xen-platform-pci,-,-
xenbus,-,-
lis3lv02d,-,-
bcma
caif_hsi
ptp
ptp_pch
pps_core
gpio-cs5535
libore
virtio_pci,-,-,,virtio_blk virtio_net virtio_balloon 
ac97_bus
target_core_mod
rc-core
ezusb
dsa_core
ip_tunnel
dns_resolver
rapidio
ntb
ntb_netdev
nfsd
grace

mlx4_en
inet_lro
iscsi_target_mod
llc
llc2

caif_virtio
vringh
geneve

fjes

xen-fbfront
xen-kbdfront
xen-netback
xen-netfront
xen-pcifront
xen-scsifront
xen-scsiback

kernel/drivers/infiniband/.*

kernel/drivers/hv/.*
kernel/drivers/staging/hv/.*
kernel/arch/.*/crypto/.*
kernel/arch/.*/kernel/.*,,-
kernel/crypto/.*
kernel/drivers/crypto/.*
kernel/drivers/.*/crypto/.*
kernel/drivers/firmware/.*
kernel/drivers/i2c/.*
kernel/drivers/leds/.*
kernel/drivers/md/.*
kernel/drivers/nvdimm/.*
kernel/drivers/nvme/.*
kernel/drivers/platform/.*
kernel/drivers/base/regmap/.*
kernel/drivers/video/.*
kernel/drivers/virtio/.*
kernel/drivers/xen/core/.*
kernel/fs/nfs/.*,,-
kernel/fs/nls/.*,,-
kernel/lib/.*,,-
kernel/net/phonet/.*
kernel/drivers/gpu/.*
kernel/net/ceph/.*
kernel/net/802/.*


; acpi
[acpi]
kernel/drivers/acpi/.*
kernel/drivers/video/backlight/.*
kernel/drivers/video/mfd/.*
kernel/drivers/char/ipmi/.*


; cpufreq (only new machines require power management)
[cpufreq]
kernel/drivers/cpufreq/.*


; Better do not load cpufreq on old machines for now
; They do not rely on power management, cpufreq on
; Via (longhaul/longrun) is broken anyway
; powernow-k6
; longrun
; speedstep-ich
; speedstep-smi
; cpufreq-nforce2

[autoload]
nvram,"-CMOS/NV-RAM driver",-
af_packet,"-Raw Packet Sockets",-
ipv6
zlib_inflate
nls_cp437,"-Codepage 437",-
nls_iso8859-1,"-Charset iso8859-1",-
nfs,NFS Client,-
psmouse,"PS/2 Mouse",-
loop,,-max_loop=64
processor,,-
thermal,,"tzp=50",,,1
fan,,-
freq_table,,-
cpufreq_ondemand,,-
powernow-k8,"PowerNow! driver for CPU frequency scaling for AMD64",-
acpi-cpufreq,"Speedstep driver for CPU frequency scaling",-
xenblk,"Xen Block Driver",,,,1
xennet,"Xen Net Driver",,,,1
efivars,-,-
efivarfs,-,-
# load the next two for wlan (at least as long as we don't have modprobe)
ecb
arc4
snd_seq
snd_pcm_oss
8021q


[IDE/RAID/SCSI]
MoreModules=scsi-modules

cdrom,"-Uniform CD-ROM driver interface",-,,,1
generic,"Generic PCI IDE",,,,1
i2o_block,"Intelligent I/O Block",,i2o_core i2o_config,,1
i2o_config,,,,,,0
i2o_core,,,,,,0
i2o_scsi,"Intelligent I/O SCSI",,i2o_core i2o_config,,1
mtd
mtd_blkdevs
mtdblock
xen-scsi,"Xen SCSI frontend driver",,,,1
xen-vbd,"Xen Blockdevice Driver",,,,1

kernel/drivers/ata/.*,,,,,1
kernel/drivers/block/.*,,,,,1
kernel/drivers/ide/.*,,,,,1
kernel/drivers/message/fusion/.*,,,,,1
kernel/drivers/misc/.*,,,,,1
kernel/drivers/mmc/.*,,,,,1
kernel/drivers/scsi/.*,,,,,1


[network]
MoreModules=net-modules

bcm_sf2
dca,-,-
arcnet,"ARCnet","io=0x300"
bmac,"Apple bmac (PowerMacs with Mach64)"
fddi,-,-
mace,"Apple mace (old PowerMacs)"
macsec
macvlan
macvtap
mdio,-,-
plip,"PLIP (IP via parallel port)",,parport parport_pc,,,0
ppp_generic,"Generic PPP layer"
pppox,"Linux PPP over X/Ethernet"
pptp
rionet
rrunner,"Essential RoadRunner HIPPI"
slhc,"compress and uncompress tcp packets"
spidernet,"Spider Southbridge Gigabit Ethernet"
virtio_net,"Virtio network"
vmxnet3,VMware vmxnet3 virtual NIC
xen-vnif,"Xen Network"
vxlan
af_packet_diag

kernel/drivers/net/hyperv/.*
kernel/drivers/net/team/.*
kernel/drivers/net/ethernet/.*
kernel/drivers/net/fddi/.*
kernel/drivers/net/tokenring/.*
kernel/drivers/net/can/.*
kernel/drivers/net/phy/.*
kernel/drivers/net/ieee802154/.*
kernel/drivers/net/ipvlan/.*
kernel/drivers/misc/sgi-xp/.*
kernel/net/ieee802154/.*
kernel/net/mac802154/.*
kernel/net/ipv4/.*


[WLAN]
kernel/drivers/misc/eeprom/.*
kernel/drivers/net/wireless/.*
kernel/drivers/net/wimax/.*
kernel/drivers/uwb/.*
kernel/net/wireless/.*
kernel/net/wimax/.*
kernel/net/mac80211/.*


[PCMCIA]
MoreModules=pcmcia-modules

i82092,"I82092AA PCI-PCMCIA bridge",,,pcmcia
i82365,Intel 82365 PC Card Controller,,,pcmcia
pcmcia,PCMCIA Core Module
pcmcia_core,PCMCIA Core Module
pcmcia_rsrc
pd6729,Cirrus PD6729 PCI-PCMCIA bridge,,,pcmcia
sl811_cs,"REX-CFU1U PCMCIA"
tcic,Databook TCIC-2 PCMCIA Controller,,,pcmcia
yenta_socket,Intel 82365 PC Card Controller,,,pcmcia

kernel/drivers/net/pcmcia/.*
kernel/drivers/scsi/pcmcia/.*


[USB]
MoreModules=usb-modules

ems_usb
ff-memless
ftdi-elan
umc,,-
usbcore,"-USB Core"
uwb,,-
whci,,-
wusb-cbaf,"Wireless USB Cable Based Association"
wusb-wa,,-
wusbcore,,-
cdc-wdm
xen-usb
ulpi

kernel/drivers/hid/.*
kernel/drivers/net/usb/.*
kernel/drivers/usb/host/.*,,,,usbhid
kernel/drivers/usb/serial/.*
kernel/drivers/usb/storage/.*
kernel/drivers/usb/dwc3/.*


[FireWire]
MoreModules=firewire-modules

kernel/drivers/firewire/.*


[file system]
MoreModules=fs-modules

cifs,CIFS,-
cramfs,CRAMFS,-
exportfs,,-
ext2,Ext2,-
ext3,Ext3,-
ext4,Ext4,-
fat,"-low-level FAT-based fs support",-
fuse,,-
hfs,HFS,-
hfsplus,HFS+,-
isofs,ISOFS,-
jbd,,-,,,,1
jbd2,,-,,,,1
jfs,JFS,-
ncpfs,NCPFS,-
nfs,NFS client,-
ntfs,NTFS (read only),-
reiserfs,ReiserFS,-
smbfs,SMB,-
squashfs,SquashFS,-
udf,UDF,-
vfat,VFAT,-
xfs,XFS,-
xfs_quota,XFS Quota Support,-
xfs_dmapi,,-
btrfs,BTRFS,-
mbcache,,-
crc16,,-
auth_rpcgss,,-
autofs4,,-
dmapi,,-
overlay,,-
overlayfs,,-


[ppc]
of_mdio
be2net
sfc
jsm
qlge
vnic
virtio_scsi
rsxx
rtas_flash,"rtas_flash"
mii,"-MII interface library",-
;
3c59x,"3Com 3c59x/3c90x (592/595/597)"
acenic,"Alteon AceNIC/3C985/NetGear GA620"
amd8111e,"AMD8111 970eval"
; external tg3 driver from broadcom
bcm5700,"Broadcom BCM5700"
;
bnx2,"Broadcom NetXtreme II BCM5706"
bnx2x,"Broadcom NetXtreme II BCM57710"
bnx2i
cxgb3,"Chelsio T3 10Gb Ethernet"
cxgb3i
cxgb4i
e100,"Intel PRO/100 / EtherExpr. PRO/100"
e1000,"Intel PRO/1000 Gigabit"
e1000e,"Intel PRO/1000 PCI-E Gigabit"
ehea,"POWER6 ehea"
ibmveth,"POWER5 Virtual Ethernet"
ibmvnic,"Driver for System i/p vNIC protocol"
igb,"Intel Gigabit Ethernet"
ixgb,"Intel(R) PRO/10GbE"
ixgbe,"Intel(R) 10 Gigabit PCI Express"
myri10ge,"Myricom 10G Ethernet"
netxen_nic,"NetXen Multi port (1/10) Gigabit"
olympic,"IBM Olympic chipset PCI Token Ring"
pcnet32,"AMD PCI PCnet32 (PCI bus NE2100)"
qla3xxx,"QLogic ISP3XXX"
r8169,"RealTek RTL8169 Gigabit Ethernet"
s2io,"S2IO 10GbE Server"
skfp,"SysKonnect FDDI (SK-55xx/SK-58xx)"
sky2,"Marvell Yukon 2 Gigabit Ethernet"
spidernet,"Cell Ethernet"
tg3,"Broadcom Tigon3 Ethernet"
virtio_net,"Virtio network"
; mac
mace,"MACE, old PowerMacs"
bmac,"BMAC, old PowerMacs"
sungem_phy,"-PHY driver for sungem",-
sungem,"Sun GEM, for new PowerMacs"
tulip,"DEC Tulip (DC21x4x) PCI"
8139too,"RealTek RTL8139"
; pegasos
mv643xx_eth,"Marvell MV643XX"
mv88e6060,"mv88e6060"
mv88e6xxx,"mv88e6060"
chip,"mv88e6xxx single chip support"
mv88e6xxx_drv,"mv88e6060"
via-rhine,"VIA VT86c100A Rhine-II"
; efika
-libphy,"PHY library",-
fec_mpc52xx_phy,"Efika MPC52xx PHY",-
bestcomm-fec,"Efika MPC52xx bestcomm",-
fec_mpc52xx,"Efika MPC52xx"
;
sys-manager,"PS3 System Manager"
ps3-sys-manager,"PS3 System Manager"
ps3_gelic,"PS3 gelic ethernet"
ps3rom,"PS3 CDROM"
ps3flash,"PS3 Flash ROM"
ps3disk,"PS3 disk storage"
ps3stor_lib,-,-
ps3vram,"PS3 swap into videoram"
mtd,"mtd"
mtd_blkdevs,"mtd_blkdevs"
mtdblock,"mtdblock"
ps3-lpm,-,-
; ide
generic,"Generic PCI IDE",,,,1
pdc202xx_new,"Promise PDC20268+ IDE",,,,1
pdc202xx_old,"Promise (Older Controllers) IDE",,,,1
pata_amd,AMD PATA JS20,,,,1
pata_cmd64x,CMD64x series PATA,,,,1
pata_mpc52xx,mpc52xx PATA,,,,1
pata_pdc2027x,"Promise PDC20268 to PDC20277",,,,1
pata_sil680,SI680 PATA QS20,,,,1
pata_sl82c105,"W82C105 PATA IDE",,,,1
pata_macio,"PowerMac PATA IDE",,,,1
ahci,"AHCI SATA driver",,,,1
sata_sil,"Silicon Image SATA",,,,1
sata_sil24,"Silicon Image 3124/3132 SATA",,,,1
pata_via,VIA PATA,,,,1
siimage,"SiI IDE",,,,1
sl82c105,"W82C105 IDE",,,,1
aec62xx,"AEC62xx IDE",,,,1
cmd64x,"CMD64x IDE",,,,1
pmac,"PowerMac IDE",,,,1
amd74xx,"JS20 IDE",,,,1
via82cxxx,"VIA IDE",,,,1
; scsi
sym53c8xx,"Symbios 53c8xx",,,,1
ipr,"IBM Power Linux RAID adapter",,,,1
ibmvscsi,"IBM Virtual SCSI",,,,1
ibmvfc,"IBM Virtual Fibrechannel",,,,1
lpfndd,"Emulex LP fibrechannel network"
lpfcdd,"Emulex LP fibrechannel storage",,,,1
lpfc,"Emulex LP fibrechannel storage",,,,1
qla2xxx,,-,,,1
qla4xxx,"QLogic ISP 4XXX iSCSI",,,,1
qla2300,"QLogic ISP 2300",,,,1
mptsas,"Fusion MPT SAS Host driver",,,,1,0
mpt2sas
; mac specific
sata_svw,"PowerMac K2 SATA",,,,1
sata_vsc,"SATA VSC 970eval",,,,1
aic7xxx,"Adaptec 274x/284x/294x",,,,1
aic7xxx_old,"Adaptec 274x/284x/294x (old driver)",,,,1,0
advansys,"AdvanSys","asc_iopflag=1 asc_ioport=0x110",,,1,0
mesh,"MESH SCSI driver",,,,1
mac53c94,"mac53c94 SCSI early PowerMacs",,,,1
; legacy iseries
iseries_veth,"iSeries virtual ethernet"
viodasd,"legacy iSeries vio dasd",,,,1
viocd,"legacy iSeries vio cd",,,,1
icom,"icom serial driver"
; generic
ide-core,,-
ide-cd,"ATAPI CD-ROM Driver",-
ide-cd_mod,"ATAPI CD-ROM Driver",-
ide-disk,"ATA Disk Driver",-
st,"SCSI Tape Driver"
sd_mod,"SCSI Disk Driver",-
sr_mod,"SCSI CD-ROM driver",-
sg,"-Generic SCSI interface",-
scsi_debug,"Simulate a host adapter"
firmware_class,"-sysfs firmware upload",-
iscsi_tcp,"iSCSI/TCP data-path",,,,1
libiscsi,"iSCSI library functions",,,,1
scsi_transport_fc,,-
scsi_transport_spi,,-
scsi_transport_sas,,-
scsi_transport_srp,,-
scsi_transport_iscsi,,-
scsi_transport_sas_domain,,-
libsrp,,-
scsi_tgt,,-
scsi_wait_scan,"wait for SCSI scan to complete"
; wlan
airport,"Apple Airport"
b43,"Broadcom B43"
cfg80211,"wireless configuration support",-
hermes,"-Low-level driver helper for Lucent Hermes chipset and Prism II HFA384x",-
mac80211,"IEEE 802.11 subsystem",-
orinoco,"Orinoco, Prism II and similar"
pcmcia,PCMCIA Core Module
pcmcia_core,PCMCIA Core Module
rfkill,,-
ssb,-,-
;
sja1000_of_platform,-,-
xilinx_emaclite,-,-
da903x_bl,-,-
libahci
ahci_platform
swim3,"floppy controller for Super Woz Integrated Machine 3",-
mscan-mpc5xxx,"Freescale MPC5xxx CAN Bus controller",-


[s390]
cmm
des_z990
des_check_key
sha1_z990
appldata_os
appldata_mem
appldata_net_sum
ccwgroup
qdio
ctcm
fsm
smsgiucv
cu3088
lcs
netiucv
qeth
qeth_l2
qeth_l3
iucv
tape
tape_class
sclp_cpi
tape_34xx
zfcp
dasd_cmb
dasd_mod
xpram
dasd_fba_mod
dasd_diag_mod
dcssblk
dasd_eckd_mod
z90crypt
crypt_z990_query
oprofile
fs3270
raw3270
tty3270
vmcp
claw
monwriter
af_iucv
scm_block
sclp_async
vmur
chsc_sch
eadm_sch
smsgiucv_app
hmcdrv


; modules we do _not_ need
[notuseful]
bpck6
bsd_comp
caif_serial
cfspi_slave
cm4000_cs
cm4040_cs
cuse
dummy
eql
fixed
gtp
hyper-v.suse_kmp_dummy
i2o_bus
i2o_proc
ifb
ioc3
ipwireless
iscsi_trgt
joydev
kvm
monreader
msdos
parport_ax88796
parport_cs
parport_serial
pd
pf
pg
ppp_async
ppp_deflate
ppp_mppe
ppp_synctty
pppoe
prism2_usb
pt
serial_cs
slip
tape_3590
tun
veth
vmlogrdr
vmwatchdog
vrf

